@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
a{
  text-decoration:none;
  color: #fff;
}
.section-rule{
  width: 80%;
  margin: 0 auto;
}
body{
  // background-color: #2b2b2b;
  overflow:hidden;
  
}
nav{
  display: grid;
  justify-content: flex-start;
  text-transform: uppercase;
  transform: rotate(270deg);
  position: absolute;
  left: 10%;
  transform-origin: left bottom;
  bottom: 10%;
  grid-template-areas: "a a a";
  justify-content: flex-start;
  grid-gap: 4rem;
  transition: .3s ease;
}
li{
  list-style: none;
  position: relative;
  &:before{
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: #cbbf2cc7;
    content: "";
    bottom: 2px;
    z-index: -3;
    left: -2px;
    transition: .4s ease;
  }

  &.active{
    &:before{
      width: 115%;
    }

  }
  &:hover{
    @extend .active;
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: none;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(-30%);

}
html.is-leaving .transition-fade{
  transform: translateX(30%);
}


main{
 height: 96vh;
 width: 99vw;
 display: grid;
 &.home-page{
  background-color: #2b2b2b;
} 
&.about-page{
  background-color: #aaa;
}
&.album-page{
  background-color: #333;
}
h2{
  margin: auto;
  font-size: 9vw;
  text-transform: capitalize;
  color:#443d3d;
}
}